/.vs/
/.vscode/

/AsmanData/
/**/Binaries/
/Build/WindowsNoEditor/
/Content/AsmanService/Design
/Content/AsmanVR/DLC/Mesh
/Content/Collections/
/Content/Data/
/Content/Developers/
/Content/uiresources/
/Content/uiresources_bk/
/DerivedDataCache/
/**/Intermediate/
/Plugins/NOPPakTool
/Saved/

/**/*.pdb
/**/*.sln

WindowsNoEditor/
Content/zzTest/
Content/AsmanVR/DLC/
Content/AsmanService/
test/
Content/Meshes/
Content/Textures/
Content/Materials/
